[user]
    #name =
    #email =
[credential]
    helper = cache --timeout=28800
[github]
    user = lofic
    #email =
[includeIf "gitdir:~/work/foo/"]
    path = ~/.gitconfig_foo
[merge]
    tool = gvimdiff
    ff = true
[alias]
    br = branch
    ci = commit
    co = checkout
    mrg = merge
    st = status
    vomit = commit
    pf = push --force-with-lease
[push]
    default = simple
    autoSetupRemote = true
[core]
    editor = vim -f
    #pager = cat
[color]
    ui = true
[pull]
    rebase = true
[pager]
    branch = false
[init]
    defaultBranch = main
